.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/*
!data/raw/.gitkeep

*.pkl
*.joblib

# Secrets
.env
.env.local

# SQLite DB (Module 8 — auto-created on startup, never commit)
*.db
backend/users.db
